# Node.js
node_modules/
dist/
.env
llm_prompts.txt
package-lock.json

# Log
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# Custom for Gemini CLI
GEMINI.md
requirements.md

#package
package-lock.json

