# Node.js
node_modules/
dist/
.env
llm_prompts.txt

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Log
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# Custom for Gemini CLI
GEMINI.md
requirements.md
references/

package-lock.json
